<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="SiteName" value="SFD ID Card Portal" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="SQLiteMembershipConnection" connectionString="Data Source=|DataDirectory|idlink_app_data.sqlite;Version=3;" />
    <add name="SQLiteMemberDataConnection" connectionString="Data Source=|DataDirectory|idlink_member_data.sq3;Password=XXXXXXXX;" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" defaultRedirect="~/error.aspx" />
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" slidingExpiration="true" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <!-- Used to encrypt passwords; ref: http://forums.asp.net/t/991824.aspx/1 and http://msdn.microsoft.com/en-us/library/w8h3skw9%28v=vs.71%29 -->
    <machineKey validationKey="B3C4F7B9F060A25420C97F617C6962442A45B34C496492728147F2DB44BC01B422127CE7067AEDDAEA27C0C1F60DC643D3BCBD6801C2E23C2F5C0BB22DCB2D6E,IsolateApps" decryptionKey="954FF2B351F3FC7CCD21908893A237FEA29479CFF368FB714BDF82E95F917645,IsolateApps" validation="SHA1" decryption="AES" />
    <!-- Configure the Membership provider.-->
    <membership defaultProvider="SQLiteMembershipProvider">
      <providers>
        <clear />
        <add name="SQLiteMembershipProvider" type="TechInfoSystems.Data.SQLite.SQLiteMembershipProvider" applicationName="SQLite ASP.NET Provider" connectionStringName="SQLiteMembershipConnection" passwordFormat="Encrypted" minRequiredPasswordLength="8" minRequiredNonalphanumericCharacters="0" maxInvalidPasswordAttempts="5" passwordAttemptWindow="30" enablePasswordReset="false" enablePasswordRetrieval="false" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" />
      </providers>
    </membership>
    <!-- Configure the Role provider.-->
    <roleManager enabled="true" defaultProvider="SQLiteRoleProvider" cacheRolesInCookie="true" cookieProtection="Validation">
      <providers>
        <clear />
        <add applicationName="SQLite ASP.NET Provider" connectionStringName="SQLiteMembershipConnection" name="SQLiteRoleProvider" type="TechInfoSystems.Data.SQLite.SQLiteRoleProvider" />
      </providers>
    </roleManager>
    <!-- Configure the Profile provider.-->
    <profile defaultProvider="SQLiteProfileProvider">
      <providers>
        <clear />
        <add applicationName="SQLite ASP.NET Provider" connectionStringName="SQLiteMembershipConnection" name="SQLiteProfileProvider" type="TechInfoSystems.Data.SQLite.SQLiteProfileProvider" />
      </providers>
    </profile>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <location path="new_card.aspx">
    <system.web>
      <authorization>
        <allow roles="administrator,manager,officer,user" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="edit_card.aspx">
    <system.web>
      <authorization>
        <allow roles="administrator,manager,officer" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="print_card.aspx">
    <system.web>
      <authorization>
        <allow roles="administrator,manager" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AdminPages">
    <system.web>
      <authorization>
        <allow roles="administrator" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.4" newVersion="2.1.0.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.7.1213" newVersion="4.1.7.1213" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295"></requestLimits>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
